<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <title>Projects & Tasks Manager: Select Project</title>
</head>
<body>
    <div class="nav">
        <h2>Projects & Tasks Manager by Dakshika Srivastava</h2>
    </div>
    <div class="main">
        <form method="POST">
            <!-- Security token by django -->
            {% csrf_token %}
            <h3>The selection below is based on the project ID. You can go to the home page and see the list of projects to find the ID of a specific project.</h3>
            <label for="project">Choose a project: </label>
            <select id="project" name="project">
                {% for id in ids %}
                <option value="{{id}}">{{id}}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>

        <form action="/">
            <input type="submit" value="Home">
        </form>
    </div>
</body>
</html>