<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <title>Projects & Tasks Manager: Success</title>
</head>
<body>
    <div class="nav">
        <h2>Projects & Tasks Manager by Dakshika Srivastava</h2>
    </div>
    <div class="main">
        <p>Your action was successfully completed! Click the home button to go back to the homepage.</p>

        <form action="/">
            <input type="submit" value="Home">
        </form>
    </div>
</body>
</html>